<img src="http://skeves.s3.amazonaws.com/EVEOnlineLogo.png" height="50"/>

<% if @pilot %>
<hr/>
<div id="skills">
  <img src="http://skeves.s3.amazonaws.com/spinner.gif" />
  <span>Loading</span>
  <script type="text/javascript">
    $(function(){
      $("#skills").load("/skillqueue");
    });
  </script>
</div>
<% end %>
<hr/>
<div>

<% if @user %>
  <% if @pilot %>
    <span><a href="/pilot">Settings</a></span>
  <% else %>
    <span><a href="/pilot">Register</a></span>
    <div>If you've been here before, you may have to re-register, sorry about that.</div>
  <% end %>
  <span><a href="<%= Users.create_logout_url('/') %>">Sign Out</a></span>
<% else %>
  <div><a href="<%= Users.create_login_url('/') %>">Sign In</a></div>
<% end %>
</div>
