<h3>Hai!</h3>

<% if @user %>
  <div><a href="/queue">Skill Queue</a></div>
  <div><a href="<%= Users.create_logout_url('/') %>">Sign Out</a></div>
<% else %>
  <div><a href="/register">Register</a></div>
  <div><a href="<%= Users.create_login_url('/') %>">Sign In</a></div>
<% end %>
